

img {
 	width: 99.8%;	max-height:100px; position: relative; top: 5px; left: 0px; border-color: black;
 	border-radius: 3px;

	 }


#ul {
	padding-top: 2px;
	width: 100%;	top: 0px;	position: relative; right: 3%;
	margin-top: 3px;
	
}
ul.parent >li {
	padding-top: 2px;padding-bottom: 2px; position: relative;	cursor: pointer; float: right;   
     width: 10%; text-align: center; 
    font-size: 16px; box-sizing: border-box;
    border-top: 2px solid #943838; border-bottom: 2px solid #943838; 
    text-shadow: 0.5px 0px 0.5px rgba(143, 177, 137, 0.75);
    box-shadow: 3px -3px 11px 4px rgba(0, 0, 0, 0.20);
    font-family: Trebuchet MS/*sans-serif, georgia*/; border-radius: 10px; 
    border-left-style: solid 5px black;
    color: #d4ecbe;	background-color: #232323;
    margin-right: 3px;
    margin-left: 5px;

    }

ul.parent >li:hover { 	background-color: #161714;	color:#fbcece; }

a {  text-decoration: none;	color : inherit; }

a:hover { background-color: transparent;	color: rgba(86, 236, 36, 0.9); }

a: visited { text-decoration-color: transparent; }

li { list-style: none; }
